.App {
    background-color: rgb(23, 18, 4);
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
}

@media (max-width : 767px) {
    .App {
        overflow-x: hidden;
        overflow-y: scroll;
        flex-direction: column;
    }
}